<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <script src="{{site.url}}{{site.baseurl}}/assets/js/elastic-apm-rum.umd.min.js" crossorigin></script>
    <script>
      elasticApm.init({
        serviceName: 'calebmkeller-site',
        serverUrl: 'https://f00e764e23514fb7addb491a137beefd.apm.us-central1.gcp.cloud.es.io:443',
      })
    </script>
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <meta content="{{site.description}}" name="description"></meta>
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2017 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
      hljs.initHighlightingOnLoad();
    </script>
</head>
