<div class="home-intro">
  <div class="jumbo">Welcome, thanks for visiting.</div>
  <div class="home-sub-text">
    <h3>
      My name's Caleb, and I'm happy your here. I am a Mechanical Engineer, turned Data Scientist, turned Sales Engineer. My unique path has made me very aware of the need for data to deliver value and the many ways it can.
    </h3>
    <br/>
    <h3>
      When I'm not working on driving value through data I can be found flying, riding horses, travelling, or just hanging with friends and family.
    </h3>
  </div>
</div>

